body{
    background-image: url(photo.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
}

#clockContainer{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
}  /*
 #hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
} */
/* #hour, #minute, #second {
    position: absolute;
    background: linear-gradient(to bottom, transparent 20%, rgb(28, 181, 246) 50%, transparent 80%);
    border-radius: 50% 50% 50% 50%;
    transform-origin: bottom center;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
} */

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(42, 14, 223, 0.9);
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
    box-shadow: 0 0 8px rgba(232, 25, 25, 0.9);
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
    box-shadow: 0 0 6px rgba(39, 144, 62, 0.9);
}
#analogText {
    position: absolute;
    top: 10px;
    left: 1px;
    font-size: 50px;
    font-weight: bold;
    color: #333;
}

#clockText {
    position: absolute;
    bottom: 10px;
    right: 1px;
    font-size: 50px;
    font-weight: bold;
    color: #333;
}
